* {
    margin: 0;
    padding: 0;
}

.contact-title {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
}

.contact-text {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
}

.contact-text li a {
    color: #004bd6;
    text-decoration: none;
    font-size: 16px;
}

.banners {
    margin-top: 20px;
}


.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5%;
}

footer {
    background-color: #CD8495;
    padding: 5px;
    margin-top: 20px;
    text-align: center;
}

.footertext {
    margin-top: 10px;
    font-size: 15px;
    color: white;
    text-align: end;
}